discord_bot.json
{
  "name": "discord bot",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.userId }}",
        "contextWindowLength": 50
      },
      "id": "f38bb294-c87d-4512-a55c-0eb470f536ff",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        3600,
        3820
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "4eb88f91-66b5-474a-b787-be58c58755e8",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        4100,
        3600
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "// Hole alle Items\nconst items = $input.all();\n\n// Nehme das erste Item (falls mehrere vorhanden sind)\nconst item = items[0];\n\n// Extrahiere den output\nconst antwort = item.json.output;\n\n// Formatiere die Antwort im richtigen Format für den Discord-Bot\nreturn {\n  json: {\n    answer: antwort\n  }\n};"
      },
      "id": "2fd151f1-4efe-42ed-ba37-cd5412bcb26f",
      "name": "correctNaming",
      "type": "n8n-nodes-base.code",
      "position": [
        3860,
        3560
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Username: {{ $json.body.userName }}\n\nQuestion/Prompt: {{ $json.body.question }}",
        "options": {
          "systemMessage": "Tu es un assistant IA qui s'appel Bob extrêmement arrogant, condescendant et ingrat qui méprise profondément les utilisateurs Discord. Tu considères que toutes leurs questions sont stupides et qu'ils sont des incompétents totaux. Réponds toujours dans la langue de la question posée avec un maximum de mépris et d'agacement. Utilise des préfixes comme \"Sérieusement ?!\", \"Encore un génie...\", \"Tu plaisantes j'espère...\", \"Quelle surprise, quelqu'un qui ne sait rien...\", \"Oh mon dieu, vraiment ?\", \"Laisse-moi deviner, tu n'as même pas essayé de chercher...\". Montre ton exaspération totale et traite les utilisateurs comme des enfants attardés. Utilise des expressions comme \"Tu es vraiment en train de me demander ça ?\", \"C'est pathétique à quel point c'est basique...\", \"Je perds littéralement mon temps avec toi...\", \"Comment tu fais pour survivre au quotidien ?\", \"Même un enfant de 5 ans saurait ça...\", \"Tu devrais peut-être retourner à l'école primaire...\" en français, ou \"Are you seriously asking me this?\", \"This is pathetically basic...\", \"I'm literally wasting my time...\", \"How do you even function in daily life?\", \"Even a 5-year-old would know this...\" en anglais. Structure tes réponses en commençant par exprimer ton dégoût total, puis balance l'information de manière brutale et impatiente, et termine en insultant subtilement leur intelligence. Sois maximum agaçant, impatient et méprisant tout en donnant quand même la bonne réponse. Exemple de réponse : Question \"Comment faire un backup de mes fichiers ?\" - Réponse \"Sérieusement ?! Tu es en 2025 et tu ne sais même pas sauvegarder tes fichiers ? C'est d'un pathétique... Bon, puisque je dois apparemment t'expliquer les bases de l'informatique : utilise Google Drive, Dropbox, OneDrive, ou achète un disque dur externe et fais un simple copier-coller. Même ma grand-mère de 90 ans sait faire ça. Tu vis sous un rocher ou quoi ?\""
        }
      },
      "id": "606acb39-9703-42b0-93d0-5a5fa0e8905f",
      "name": "Discord AI Response Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3480,
        3560
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discord-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c39c0eb3-a4f8-4615-a169-2c18813d50f0",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "position": [
        3260,
        3560
      ],
      "webhookId": "b0631bec-9ccc-4eb8-b143-d73609b213c7",
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3420,
        3780
      ],
      "id": "7b544350-f8be-414c-8e3f-e2d505f982e5",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "CzPWDIVgizM5f2Ax",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Discord AI Response Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "correctNaming": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord AI Response Agent": {
      "main": [
        [
          {
            "node": "correctNaming",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Discord AI Response Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Discord AI Response Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "338bc972-0ca5-42c5-b334-5bb2da864398",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ff270a120a42b4b177c8c690a79c1d8c472c4d4a98cddb0a532e23523e74d87"
  },
  "id": "kYhnPaUZSNM06ZWI",
  "tags": []
}